@font-face {
    font-family: Quicksand;
    src: url(./font/Quicksand-VariableFont_wght.ttf);
}
body {
    margin: 0;
    font-family: Quicksand;
}
a {
    text-decoration: none;
    color: black;
}

/* .all-cont {
    width: 1920px;
} */

.all-header-cont {
    width: 1920px;
    height: 1029px;
    background-image: url(../img/b-g/Vector\ 1.png);
}

header {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
}
    header .logo {
        margin: 0 0 0 136px;
        width: 179px;
        height: 100px;
        background: #0F7BFF;
        border-radius: 0 0 21.5px 21.5px;
    }
        header .logo span {
            margin: 25px 23px 32px;
            font-size: 36px;
            font-weight: bold;
            color: white;
            display: inline-block;
            width: 133px;
            height: 43px;
        }
        header nav {
            height: 20px;
            margin: 40px 0 0 893px;
        }
            header nav ul {
                width: 355px;
                height: 20px;
                display: flex;
                justify-content: space-between;
            }
                header nav ul li span {
                    color: #0F7CFF;
                }
        header .sign-up {
            width: 165px;
            height: 50px;
            margin: 25px 0 0 52px;
            background: #0063DD;
            border-radius: 25px;
        }
            header .sign-up span {
                width: 63px;
                height: 20px;
                margin: 15px 51px;
                font-size: 16px;
                font-weight: bold;
                color: white;
                display: inline-block;
            }

div.main-text {
    margin: 88px 632px 0 633px;
    width: 655px;
    height: 156px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
    div.main-text h1 {
        margin: 0 105px 30px;
        font-size: 36px;
        font-weight: 700;
        width: 445px;
        height: 45px;
    }
    div.main-text p {
        width: 655px;
        height: 81px;
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        color: #929292;
    }

div.buttons {
    margin: 33px 779px 51px;
    width: 362px;
    height: 50px;
    display: flex;
}
    div.buttons .download {
        margin-right: 30px;
        padding: 0;
        width: 166px;
        height: 50px;
        background: #0F7BFF;
        border: none;
        border-radius: 25px;
    }   
        div.buttons .download span {
            margin: 14px 44px 20px;
            display: inline-block;
            height: 16px;
            width: 78px;
            font-size: 16px;
            font-weight: 700;
            color: white;
        }
    div.buttons .free-trial {
        padding: 0;
        width: 166px;
        height: 50px;
        background: white;
        border: 2px solid #0F7BFF;
        border-radius: 25px;
    }
        div.buttons .free-trial span {
            margin: 15px 47px 46px;
            display: inline-block;
            width: 73px;
            height: 20px;
            font-size: 16px;
            font-weight: 700;
            color: #0F7BFF;
        }

div.devices {
    margin: 0 auto;
    width: 868px;
    height: 875px;
    background-image: url(../img/content/Devices.png);
    z-index: -1;
}

div.arrow {
    margin: -78px 888px 0 918px;
    width: 114px;
    height: 114px;
    background-color: rgba(0, 99, 221, 0.23);
    border-radius: 50%;
    position: relative;
}
    div.arrow button.arrow-cont {
        padding: 22px;
        z-index: 10;
        border-radius: 50%;
        border: none;
        color: inherit;
        background-color: transparent;
    }   
        div.arrow button.arrow-cont .shadow {
            width: 70px;
            height: 70px;
            background-color: #0063DD;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            div.arrow .shadow img {
                height: 43px;
                width: auto;
                margin: 13px 35px 14px;
            }

div.card-cont {
    height: 635px;
    width: 1920px;
    /* padding: 165px 372px 180px 402px; */
    background-color: #f5fcfd;
    z-index: 10;
    margin-top: -56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .card-main {
        margin-right: 30px;
        width: 362px;
        height: 290px;
        background-color: white;
        box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
        border-radius: 5px;
    }
        .card-1{
            margin: 165px 30px 0 186px;
        }
        .card-2{
            margin: 158px 30px 0 0;
        }
        .card-3{
            margin: 165px 0 0 0;
        }
















